body{
  background-color: #232323;
  margin: 0;
  font-family: "Montserrat", "Avenir";
}

h1{
  text-align: center;
  color: white;
  background: steelblue;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1;
  padding: 20px 0;
}

button{
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.4s;
  outline: none;
  width: auto;
  margin-left: 0;
  margin-right: 0;
}

button:hover{
  color: white;
  background: steelblue;
}


.square{
  width: 30%;
  background: steelblue;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 20px;
  transition: background 0.5s;
}

.selected{
  background: steelblue;
  color: white;
}

#modeSelectSpan{

}

#container{
  margin: 5% auto; /*This will center the element with the id container*/
  max-width: 600px;
}

#colourDisplay{
  text-transform: uppercase;
  font-size: 200%;
}

#stripe{
  background-color: white;
  height: 30px;
  text-align: center;
}

#message{
  display: inline-block;
  width: 20%;
  text-transform: uppercase;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
}
